{% extends "account/base.html" %}
{% load account %}

{% if user %}
{% block head_title %}{% block body_title %}
{% if membership %}
{{membership}}
{% else %}
{{user.get_full_name}}
{% endif %}
({% user_display user %})
{% endblock %}{% endblock %}
{% endif %}

{% block content %}
<ul>

<li><a href="{% url 'profile-edit' %}">
  {% if membership %}
  Edit Profile
  {% else %}
  Create Profile
  {% endif %}
</a></li>
<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
{% if user.password %}
<li><a href="{% url 'account_change_password' %}">Change Password</a></li>
{% else %}
<li><a href="{% url 'account_set_password' %}">Set Password</a></li>
{% endif %}
<li><a href="{% url 'socialaccount_connections' %}">Manage Connected Accounts</a></li>
</ul>
<p><strong><a href="{% url 'account_logout' %}">Logout</a></strong></p>
<p><strong><a href="/">Back to Home</a></strong></p>
{% endblock content %}
