{% extends "account/base.html" %}
{% load account %}

{% if object %}
{% block head_title %}{% block body_title %}
{% user_display object %}
{% endblock %}{% endblock %}
{% endif %}

{% block content %}
<ul>
<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
{% if user.password %}
<li><a href="{% url 'account_change_password' %}">Change Password</a></li>
{% else %}
<li><a href="{% url 'account_set_password' %}">Set Password</a></li>
{% endif %}
<li><a href="{% url 'socialaccount_connections' %}">Manage Connected Accounts</a></li>
</ul>
<p><strong><a href="{% url 'account_logout' %}">Logout</a></strong></p>
<p><strong><a href="/">Back to Home</a></strong></p>
{% endblock content %}
