version: "3.9"
services:
  web:
    build: .
    ports:
      - "8000:8000"
    command:
      sh -c "python manage.py collectstatic --no-input &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
