{% extends "base.html" %}
{% load rules %}
{% block head_title %}{% block body_title %}
Events
{% endblock %}{% endblock %}

{% block content %}

{% for chapter, events in chapter_events %}
  <h2>{{chapter}}</h2>
  <ul>
    {% for event in events %}
    <li><a href="{% url 'event-detail' event.pk %}">{{ event }} ({{event.event_start_date}} - {{event.event_end_date}})</a></li>
    {% empty %}
    <li>No events scheduled.</li>
    {% endfor %}
  </ul>
  {% has_perm 'game.add_event' user chapter as can_create_event %}
  {% if can_create_event %}
  <p><a href="{% url 'event-create' chapter.slug %}">Create Event in {{chapter.name}}...</a></p>
  {% endif %}
{% endfor %}
{% endblock content %}
