{% extends "base.html" %}
{% load rules %}
{% load markdown %}
{% load game %}
{% block head_title %}{% block body_title %}
{{ event }}
{% endblock %}{% endblock %}

{% block content %}
{% if event.event_in_progress %}
<p><i>This event is currently in progress</i></p>
{% endif %}
<ul>
  <li><b>Campaign:</b> {{event.campaign}} ({{event.logistics_year}}-{{event.logistics_month}})</li>
  <li><b>Chapter:</b> {{event.chapter}}</li>
  <li><b>Event Type:</b> {{event.get_type_display}}</li>
  <li><b>Event Start:</b> {{event.event_start_date|chapterzone:event.chapter }}</li>
  <li><b>Event End:</b> {{event.event_end_date|chapterzone:event.chapter }}</li>
  <li><b>Long Rests:</b> {{event.logistics_periods}}</li>
  {% if event.registration_open %}
  <li><b>Registration Open:</b> {{ event.registration_open|chapterzone:event.chapter }}</li>
  {% endif %}
  {% if event.registration_deadline %}
  <li><b>Registration Deadline:</b> {{ event.registration_deadline|chapterzone:event.chapter }}</li>
  {% endif %}
  {% if event.location %}
  <li><b>Location:</b> {{ event.location | markdown}}
  {% endif %}
</ul>

{% if event.description %}
{{ event.description | markdown }}
{% else %}
<p>{{event.campaign}} {{event.chapter}} event for {{event.logistics_year}}-{{event.logistics_month}}.</p>
{% endif %}

{% if registration %}
  {% if registration.is_npc %}
  <p>You have registered as an NPC for this event.</p>
  {% else %}
  <p>You have registered to play this event as
    <a href="{{ registration.character.get_absolute_url }}">{{registration.character}}</a></p>
  {% endif %}
{% endif %}

{% if event.registration_window_open %}
  <p>
  {% if not event.canceled_date %}
    <a class="btn btn-primary" role="button" href="{% url 'register-form' event.pk %}">
      {% if registration.pk %}
      Edit Registration
      {% else %}
      Register Now!
      {% endif %}
    </a>
  {% else %}
    <i>Event has been canceled, registration not available.</i>
  {% endif %}
  </p>
{% elif registration.pk %}
<p><a href="{% url 'register-form' event.pk %}">View Registration</a></p>
{% endif %}


{% has_perm 'game.change_event' user event as can_change_event %}

{% if can_change_event %}
<p><a href="{% url 'event-update' event.pk %}">Edit Event</a></p>
{% endif %}

{% endblock content %}
