{% extends "base.html" %}
{% load rules %}
{% load crispy_forms_tags %}
{% block head_title %}{% block body_title %}
{% if registration.pk is not None %}
Update Registration for {{registration.event}}
{% else %}
Register for {{registration.event}}
{% endif %}
{% endblock %}{% endblock %}

{% block content %}

{% if not registration.event.registration_window_open %}
<div class="alert alert-warning" role="alert">
  Registration is closed for this event.
</div>
{% endif %}

{% if registration.is_canceled %}
<div class="alert alert-warning" role="alert">
  Your registration for this event has been withdrawn.
  {% if registration.event.registration_window_open %}
  You may still resubmit your registration.
  {% endif %}
</div>
{% endif %}

{% if registration.pk is not None and not registration.is_canceled %}
<form method="post" action="{% url 'event-unregister' registration.event.pk %}"
  onSubmit="return confirm('Really withdraw your registration from this event?');">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger my-2" value="Withdraw Registration" />
</form>
{% endif %}

<form method="post" id="comboForm">
    {% csrf_token %}
    {# Profile Editor #}
    {# Depending on whether the profile already exists, default the accordian to open or closed. #}
    {% if registration.event.registration_window_open %}
      <div class="accordion my-2" id="profileAccordian">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button {% if not needs_profile %}collapsed{% endif %}" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseProfile"
                  aria-expanded="{% if needs_profile %}true{% else %}false{% endif %}"
                  aria-controls="collapseProfile">
              {% if needs_profile %}
                Create Profile
              {% else %}
                Update Profile
              {% endif %}
            </button>
          </h2>
          <div id="collapseProfile"
              class="accordion-collapse collapse {% if needs_profile %}show{% endif %}"
              data-bs-parent="#profileAccordian">
            <div class="accordion-body">
              <p>Your profile data will be saved for use in future events. You can edit your profile between games on the <a href="{% url 'account_profile' %}">Account</a> page.</p>
              {{ profile_form | crispy }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {{ form | crispy }}
    {% if registration.event.registration_window_open %}
    <input type="submit" class="btn btn-primary" value="{% if registration.is_canceled %}Resubmit{% else %}Submit{% endif %}">
    {% endif %}
</form>

<a href="{{ registration.event.get_absolute_url }}">Return to {{registration.event}}</a>
{% endblock content %}

{% block javascript %}
<script>
  function openAccordianOnValidationError(event) {
    try {
      const collapse = bootstrap.Collapse.getOrCreateInstance(this.closest('.collapse'));
      collapse.show();
    } catch {
      // ignore
    }
  }
  document.getElementById('collapseProfile')
    .querySelectorAll('input')
    .forEach(x => x.addEventListener('invalid', openAccordianOnValidationError));
</script>
{% endblock javascript %}
