{% extends "base.html" %}
{% load rules %}
{% block head_title %}{% block body_title %}
Registrations for {{event}}
{% endblock %}{% endblock %}

{# TODO: Fancy sorting controls. #}
{% block content %}

<h2>PC Registrations ({{pc_registrations|length}})</h2>
<form method="post" x-data="{paid: [], unpaid: []}">
  {% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Username</th>
        <th>Name</th>
        <th>Minor?</th>
        <th>Attendance</th>
        <th>Lodging</th>
        <th>Character</th>
        <th>New Player?</th>
        <th>New Character?</th>
        <th>Paid?</th>
        <th>Registered</th>
        <th>Updated</th>
        <th>Actions</th>
      </tr>
    <tbody>
    {% for registration in pc_registrations %}
      <tr>
        <td>
          <input type="checkbox" name="selected"
          x-model="{% if registration.payment_complete %}paid{% else %}unpaid{% endif %}"
          value="{{registration.user.username}}"/>
        </td>
        <td><a href="{% url 'profile-view' registration.user.username %}">
          {{registration.user.username}}
        </a></td>
        <td>{{registration.profile}}</td>
        <td>{% if registration.profile.age < 18 %}{{registration.profile.age}}{% endif %}</td>
        <td>{{registration.get_attendance_display}}</td>
        <td>{{registration.get_lodging_display}}</td>
        <td><a href="{{registration.character.get_absolute_url}}" hx-boosted="false">{{registration.character}}</a></td>
        <td>{# PLACEHOLDER #}🆕</td>
        <td>{# PLACEHOLDER #}🆕</td>
        <td>
          <div
            {% if registration.payment_note %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-html="true"
            title="{{registration.payment_note|linebreaks}}"
            {% endif %}
          >
            {% if registration.payment_complete %}
            <i class="bi bi-check-square"></i>
            {% else %}
            <i class="bi bi-square"></i>
            {% endif %}
          </div>
        </td>
        <td>{{registration.registered_date}}</td>
        <td>{{registration.updated_date}}</td>
        <td><a href="{% url 'registration-view' event.pk registration.user.username %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit">📝</a>
        </li></td>
      </tr>
    {% empty %}
    <tr><td colspan="10">No PC registrations yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>
  <template x-if="paid.length > 0 || unpaid.length > 0">
    <div>
    <p><span x-text="paid.length + unpaid.length"></span> selected.</p>
    <button class="btn btn-secondary" @click="paid = []; unpaid = [];">Clear Selection</button>
    <button
      name="apply" value="mark_paid" class="btn btn-success"
      :disabled="unpaid.length == 0">Mark Paid</button>
    <button name="apply" value="mark_unpaid" class="btn btn-danger" :disabled="paid.length == 0">Mark Unpaid</button>
    </div>
  </template>
</form>

<h2>NPC Registrations ({{npc_registrations|length}})</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Minor?</th>
      <th>Attendance</th>
      <th>Lodging</th>
      <th>New Player?</th>
      <th>Registered</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  <tbody>
  {% for registration in npc_registrations %}
    <tr>
      <td><a href="{% url 'profile-view' registration.user.username %}">
        {{registration.user.username}}
      </a></td>
      <td>{{registration.profile}}</td>
      <td>{% if registration.profile.age < 18 %}{{registration.profile.age}}{% endif %}</td>
      <td>{{registration.get_attendance_display}}</td>
      <td>{{registration.get_lodging_display}}</td>
      <td>{# PLACEHOLDER #}🆕</td>
      <td>{{registration.registered_date}}</td>
      <td>{{registration.updated_date}}</td>
      <td><a href="{% url 'registration-view' event.pk registration.user.username %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit">📝</a></li></td>
    </tr>
  {% empty %}
  <tr><td colspan="10">No NPC registrations yet.</td></tr>
  {% endfor %}
  </tbody>
</table>

{% if withdrawn_registrations %}
<h2>Withdrawn Registrations ({{withdrawn_registrations|length}})</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Type</th>
      <th>Registered</th>
      <th>Withdrew</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for registration in withdrawn_registrations %}
    <tr>
      <td><a href="{% url 'profile-view' registration.user.username %}">
          {{registration.user.username}}
      </a></td>
      <td>{{registration.profile}}</td>
      <td>{{registration.pc_npc}}</td>
      <td>{{registration.registered_date}}</td>
      <td>{{registration.canceled_date}}</td>
      <td><a href="{% url 'registration-view' event.pk registration.user.username %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View/Edit">📝</a></li></td>
    </tr>
    {% endfor %}
  </tbody>
{% endif %}

{% if report %}
{% include 'events/event_report_progress.html' %}
{% else %}
<div>
  <button
    class="btn btn-primary"
    hx-post="{% url 'trigger-event-report' event.pk %}"
    hx-target="closest div"
    hx-vals='{"report": "registration_list"}'
    >
    Generate Registration Report
  </button>
</div>
{% endif %}
{% endblock content %}
