{% extends "base.html" %}
{% load rules %}
{% block head_title %}
Registrations for {{event}}
{% endblock %}

{% block body_title %}
Registrations for <a href="{% url 'event-detail' event.pk %}">{{event}}</a>
{% endblock %}

{# TODO: Fancy sorting controls. #}
{% block content %}
<h3>{{pc_count}} PC, {{npc_count}} NPC</h3>
{% if withdrew_count %}<p>({{withdrew_count}} withdrawn registrations)</p>{% endif %}

{% if can_complete %}
<button class="btn btn-success"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Click to begin award distribution and progress the campaign tracker"
  hx-post="{% url 'event-complete' event.pk %}"
>
  Mark Complete
</button>
{% endif %}

<div x-data="{selected: []}">
  <p>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" @click="selected = []">None</button>
      <button class="btn btn-outline-primary" @click="selected = selectAll()">All</button>
      <button class="btn btn-outline-primary" @click="selected = selectPC()">PC</button>
      <button class="btn btn-outline-primary" @click="selected = selectNPC()">NPC</button>
      <button class="btn btn-outline-primary" @click="selected = selectPaid()">Paid</button>
      <button class="btn btn-outline-primary" @click="selected = selectUnpaid()">Unpaid</button>
    </div>
    <span :hidden="!selected.length"><span x-text="selected.length"></span> selected.</span>
  </p>
<form method="post" >

  <div class="btn-group" role="group">
      <button name="apply" value="mark_paid" class="btn btn-success" :disabled="!selected.length">Mark Paid</button>
      <button name="apply" value="mark_unpaid" class="btn btn-danger" :disabled="!selected.length">Mark Unpaid</button>
  </div>

  {% if event.completed %}
  <button name="apply" value="mark_attendance" class="btn btn-primary" :disabled="!selected.length">Mark Attendance</button>
  {% endif %}
  {% include 'events/event_report_progress.html' %}


  {% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        {% if event.completed %}
        <th class="text-center">Attended?</th>
        {% endif %}
        <th>Username</th>
        <th>Name</th>
        <th>Minor?</th>
        <th>Attendance</th>
        <th>Lodging</th>
        <th class="text-center">Character</th>
        <th class="text-center">New Player?</th>
        <th class="text-center">New Character?</th>
        <th class="text-center">Paid?</th>
        <th>Registered</th>
        <th>Updated</th>
        <th class="text-center">Edit</th>
      </tr>
    <tbody>
    {% for registration in registrations %}
      {% if registration.is_canceled %}
      <tr class="opacity-50">
      {% else %}
      <tr>
      {% endif %}
        <td>
          {% if registration.is_canceled %}
          <input type="checkbox" disabled />
          {% else %}
          <input type="checkbox" name="selected"
            x-model="selected"
            data-paid="{{ registration.payment_complete|lower }}"
            data-reg-type="{{ registration.is_npc|yesno:"npc,pc"}}"
            value="{{registration.user.username}}"/>
            {% endif %}
        </td>
        {% if event.completed %}
        <td class="text-center">
          {% if registration.attended %}
          <i
            class="bi bi-check-square"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-html="true"
            title="<p>Attended {{ registration.attended_periods|floatformat }} periods</p>
                  <p>Marked by {{ registration.award_applied_by }}</p>
                  <p>{{ registration.award_applied_date }}</p>"
          ></i>
          {% else %}
          <i class="bi bi-square"></i>
          {% endif %}
        </td>
        {% endif %}
        <td><a href="{% url 'profile-view' registration.user.username %}">
          {{registration.user.username}}
        </a></td>
        <td>{{registration.profile}}</td>
        {% if registration.is_canceled %}
          <td colspan="6" class="text-center">Registration Withdrawn {{registration.canceled_date}}</td>
        {% else %}
          <td>{% if registration.profile.age < 18 %}{{registration.profile.age}}{% endif %}</td>
          <td>{{registration.get_attendance_display}}</td>
          <td>{{registration.get_lodging_display}}</td>
          <td class="text-center">
            {% if registration.is_npc %}
            NPC
            {% else %}
            <a href="{{registration.character.get_absolute_url}}" hx-boosted="false">{{registration.character}}</a>
            {% endif %}
          </td>
          <td class="text-center">
            {% if registration.player_is_new %}
            New Player!
            {% endif %}
          </td>
          <td class="text-center">
            {% if registration.character_is_new %}
            New Character!
            {% elif registration.npc_is_new %}
            New NPC!
            {% endif %}
          </td>
        {% endif %}
        <td class="text-center">
          <div
            {% if registration.payment_note %}
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-html="true"
            title="{{registration.payment_note|linebreaks}}"
            {% endif %}
          >
            {% if registration.payment_complete %}
            <i class="bi bi-check-square"></i>
            {% else %}
            <i class="bi bi-square"></i>
            {% endif %}
          </div>
        </td>
        <td>{{registration.registered_date}}</td>
        <td>{{registration.updated_date}}</td>
        <td class="text-center">
          <a href="{% url 'registration-view' event.pk registration.user.username %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="View/Edit">📝</a>
        </li></td>
      </tr>
    {% empty %}
    <tr><td colspan="13">No registrations yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</div>

<a href="{% url 'event-detail' event.pk %}">Back to {{event}}</a>

{% endblock content %}

{% block javascript %}
<script>
  function setAll(elements, value) {
    elements.forEach(el => el.checked = value);
  }

  function selectNone() {
    selected = [];
  }

  function selectAll() {
    return [...document.querySelectorAll('input[name="selected"]')].map(e => e.value);
  }

  function selectUnpaid() {
    return [...document.querySelectorAll('[data-paid="false"]')].map(e => e.value);
  }

  function selectPaid() {
    return [...document.querySelectorAll('[data-paid="true"]')].map(e => e.value);
  }

  function selectPC() {
    return [...document.querySelectorAll('[data-reg-type="pc"]')].map(e => e.value);
  }

  function selectNPC() {
    return [...document.querySelectorAll('[data-reg-type="npc"]')].map(e => e.value);
  }
</script>
{% endblock %}
