{% load character_sheet %}
{% load markdown %}
{% load rules %}

<div class="card">
    <div class="card-body">
        {% if card.name %}
        <h3 class="card-title">{{card.name | markdown}}</h3>

        {% endif %}

        {% if card.should_format_as_card %}
        <table class="table table-striped table-responsive">
            <tbody>
                {% if card.incant %}
                <tr>
                    <td colspan="2"><span class="card-text"><strong>Incantation:</strong> {{card.incant}}</span>
                </tr>
                {% endif %}
                {% if card.call %}
                <tr>
                    <td colspan="2"><strong>Call:</strong> {{card.call}}</td>
                </tr>
                {% endif %}

                <tr>
                    <td><strong>Target:</strong> {{card.target}}</td>
                    <td><strong>Duration:</strong> {{card.duration}}</td>
                </tr>
                <tr>
                    <td><strong>Delivery:</strong> {{card.delivery}}</td>
                    <td><strong>Refresh:</strong> {{card.refresh}}</td>
                </tr>
                <tr>
                    <td><strong>Accent:</strong> {{card.accent}}</td>
                    <td><strong>Effect:</strong> {{card.effect}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {% if card.description %}
        <p class="card-text">{{card.description | markdown}}</p>
        {% endif %}

        {% for sc in subcards %}
        {% include "character/card_snippet.html" with card=sc only %}
        {% endfor %}
    </div>
</div>
