{% extends "base.html" %}
{% comment %} {% load rules %} {% endcomment %}
{% load character_sheet %}

{% block head_title %}
{{character}}
{% endblock %}

{% block body_title %}
<div class="{% if request.resolver_match.url_name != 'character-detail' %}d-print-none {% endif %}">
<a
  class="{% if character.is_discarded %}link-danger{% else %}link-body-emphasis{% endif %}
        link-underline-opacity-0 link-underline-opacity-100-hover"
  href="{% url 'character-detail' character.id %}">
    {{ character }}
    </a>
<div>
{% endblock %}

{% block precontent %}

<div class="{% if request.resolver_match.url_name != 'character-detail' %}d-print-none{% endif %}">
<h4>{% if character.campaign %}
    Campaign: {{character.campaign}}
    {% else %}
    Freeplay
    {% endif %}
</h4>

{% if request.user != character.owner %}
<h5 class="d-print-none">Player: {{character.owner.username}}</h5>
{% endif %}

{% with record=character.campaign.record %}

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"
        data-bs-toggle="tooltip" data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-title="
        <p>{% get 'xp' %} XP (Earned Level {% get 'xp_level'%})</p>
        {% if controller.levels_available > 0 %}
        <p>{{ controller.levels_available }} level(s) available!
        Increase your class levels or add new classes to level up.</p>
        {% endif %}
        {% if record %}
        <p>Campaign Max XP: {{ record.max_xp }}</p>
        {% endif %}
        ">
        <span class="align-middle">Level {% get 'level' %}
        {% if controller.levels_available > 0 %}
        <span class="badge bg-primary">Level Up!</span></span>
        {% endif %}
    </li>
    <li class="list-group-item"
        data-bs-toggle="tooltip" data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-custom-class="listgroup-tooltip"
        data-bs-title="
        <ul class='list-group list-group-flush'>
        <li class='list-group-item'>Base CP: {{ controller.base_cp }}</li>
        {% if controller.freeplay_cp %}
        <li class='list-group-item'>Freeplay: {{ controller.freeplay_cp }}</li>
        {% else %}
        <li class='list-group-item'>
            Event CP: {{ controller.event_cp }}/{{record.max_cp}}
        </li>
        <li class='list-group-item'>
            Bonus CP: {{ controller.bonus_cp }}/{{record.max_bonus_cp}}
        </li>
        <li class='list-group-item'>Backstory: {{ controller.backstory_cp }}/2</li>
        {% endif %}
        <li class='list-group-item'>
            Flaw Awards: {{ controller.cp.flaw_award_cp }}/5
        </li>
        {% if controller.cp.bonus %}
        <li class='list-group-item'>Other: {{ controller.cp.bonus }}</li>
        {% endif %}
        <li class='list-group-item'><b>Total</b>: {{ controller.cp.total_cp }}</li>
        <li class='list-group-item'><b>Spent</b>: {{ controller.cp.spent_cp }}</li>
        </ul>">
        <span class="align-middle">CP: {% get 'cp' %}</span></li>
    <li class="list-group-item"><span class="align-middle">LP: {% get 'lp' %}</span></li>
    <li class="list-group-item"><span class="align-middle">Spikes: {% get 'spikes' %}</span></li>
    {% block extra_header_bar %}{% endblock %}
    <li class="list-group-item d-print-none"><span class="align-middle">
        <a role="button" class="link-light link-underline-opacity-0" href="#" onclick="print()">
            <i class="bi bi-printer"></i></a></span>
    </li>
</ul>
{% if controller.sphere_data %}
{# TODO: Make this look better. #}
<ul class="list-group list-group-horizontal">
    {% for data in controller.sphere_data %}
    <li class="list-group-item">
        {{ data.name }} Slots: {{ data.slots.0 }} / {{ data.slots.1 }} / {{ data.slots.2 }} / {{ data.slots.3 }}, Prepared: {{ data.prepared }}
    </li>
    {% endfor %}
</ul>
</div>

{% endif %}
{% endwith %}
{% endblock precontent %}

{% block content %}
{% endblock %}
