{% extends "base.html" %}
{% load rules %}
{% load character_sheet %}

{% block head_title %}{% block body_title %}
{{ character }}
{% endblock %}{% endblock %}

{% block content %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage
    </button>
    <ul class="dropdown-menu">
        <li class=><a class="dropdown-item btn-secondary-outline" role="button" data-bs-toggle="modal" data-bs-target="#setAttrsModal">Set Attributes</a></li>
        <li><a class="dropdown-item btn-secondary-outline" role="button" data-bs-toggle="modal" data-bs-target="#deleteCharacterModal">Delete Character</a></li>
        {% if undo %}
        <li><a class="dropdown-item btn-secondary-outline" role="button" data-bs-toggle="modal" data-bs-target="#undoModal">{{undo}}</a></li>
        {% else %}
        <li><a class="dropdown-item btn-secondary-outline disabled" role="button">Undo not available</a></li>
        {% endif %}
    </ul>
  </div>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"
        data-bs-toggle="tooltip" data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-title="
        <p>{% get 'xp' %} XP (Earned Level {% get 'xp_level'%})</p>
        {% if controller.levels_available > 0 %}
        <p>{{ controller.levels_available }} level(s) available!
        Increase your class levels or add new classes to level up.</p>
        {% endif %}
        ">
        Level {% get 'level' %}
        {% if controller.levels_available > 0 %}
        <span class="badge bg-primary">Level Up!</span>
        {% endif %}
    </li>
    <li class="list-group-item"
        data-bs-toggle="tooltip" data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-title="
        <p>Base: {{ controller.base_cp }}</p>
        <p>Awarded: {{ controller.awarded_cp }}</p>
        <p>Flaw Awards: {{ controller.cp.flaw_award_cp }}</p>
        <p>Spent: {{ controller.cp.spent_cp }}</p>">
        CP: {% get 'cp' %}</li>
    <li class="list-group-item">LP: {% get 'lp' %}</li>
    <li class="list-group-item">Spikes: {% get 'spikes' %}</li>
</ul>
{% if controller.sphere_data %}
{# TODO: Make this look better. #}
<table class="table table-sm table-bordered">
    {% for data in controller.sphere_data %}
    <tr>
        <th scope="row">{{ data.name }}</th>
        <td>Spell Slots: {{ data.slots.0 }} / {{ data.slots.1 }} / {{ data.slots.2 }} / {{ data.slots.3 }}</td>
        <td>Spells Prepared: {{ data.prepared }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<!-- Existing Feature Cards -->
<div class="row">
{% for group in feature_groups %}
    <div class="card col-12 col-lg-6 col-xl-4">
        <div class="card-body">
        <h2 class="card-title">
            {{ group.name }}
        </h2>
        <ul class="list-group">
            {% if group.explain_list %}
            <li class="list-group-item">
                <ul>
                {% for text in group.explain_list %}
                    <li>{{ text }}</li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% for f in group.taken %}
                <li class="list-group-item">
                    <a href="{% url 'character-feature-view' character.id f.full_id %}">
                        {{ f.feature_list_name }}
                        {% if f.can_increase %}
                        ⇧
                          {% if f.purchase_cost_string %}
                            ({{ f.purchase_cost_string }})
                          {% endif %}
                        {% endif %}

                        {% for level, badge in f.badges %}
                        <span class="badge bg-{{level}}">{{badge}}</span>
                        {% endfor %}
                    </a>
                    {% if f.subfeatures %}
                    <ul>
                        {% for sf in f.subfeatures %}
                        <li>
                            <a href="{% url 'character-feature-view' character.id sf.full_id%}">
                                {{ sf.formal_name }}
                                {% if sff.can_increase %}
                                ⇧
                                  {% if sf.purchase_cost_string %}
                                    ({{ sf.purchase_cost_string }})
                                  {% endif %}
                                {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            {% if group.has_available %}
            <li class="list-group-item">
                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#newFeatureModal_{{group.type}}" aria-expanded="false" aria-controls="newFeatureModal_{{group.type}}">
                    New {{ group.name }} ➕
                </a>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endfor %}
</div>


<!-- Set XP/CP Modal -->
<div class="modal fade" id="setAttrsModal" tabindex="-1" aria-labelledby="setAttrsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="setAttrsLabel">Set Attributes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='set-attr' action="{% url 'character-set-attr' character.id %}" method='POST'>
                {% csrf_token %}
                <div>
                    <label for="level" class="form-label">Level</label>
                    <input type="number" class="form-control" id="set-level" name="level"
                        value="{{ controller.xp_level }}" min="2" max="20">
                </div>
                <div>
                    <label for="cp" class="form-label">Awarded CP</label>
                    <input type="number" class="form-control" id="set-cp" name="cp"
                        value="{{ controller.awarded_cp }}" min="0" max="999">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form='set-attr'>Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Character Modal -->
<div class="modal fade" id="deleteCharacterModal" tabindex="-1" aria-labelledby="deleteCharacterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCharacterLabel">Delete Character</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The character "{{ character }}" will be permanently deleted. This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{% url 'character-delete' character.id %}">{% csrf_token %}
                    <button id='deleteCharacterButton' type="submit" class="btn btn-danger">Permanently Delete "{{ character }}"</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if undo %}
<!-- Undo Modal -->

<div class="modal fade" id="undoModal" tabindex="-1" aria-labelledby="undoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="undoLabel">Confirm Undo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ undo }}</p>
                <p>The last action will be undone. There is no "redo" functionality. Are you sure you want to do this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{% url 'character-undo' character.id %}">{% csrf_token %}
                    <input type="hidden" name="undo" value="{{ undo.id }}" />
                    <input type="submit" class="btn btn-danger" value="Undo" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Add Feature Modals -->
{% for group in feature_groups %}
{% if group.has_available %}
<div class="modal fade" id="newFeatureModal_{{group.type}}" tabindex="-1" aria-labelledby="newFeatureModalLabel_{{group.type}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newFeatureModalLabel_{{group.type}}">Add New {{group.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if group.explain %}
                <p>{{ group.explain }}</p>
                {% endif %}
                {% if group.available %}
                <ul class="list-group list-group-flush">
                    {% for f in group.available %}
                        <li class="list-group-item">
                            <a href="{% url 'character-feature-view' character.id f.full_id%}">
                                {{ f }}
                                {% if f.purchase_cost_string %}
                                ({{ f.purchase_cost_string }})
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="accordion" id="availableAccordian-{{group.type}}">
                {% for category, available in group.available_categories.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{group.type}}-{{category|slugify}}" aria-expanded="{{ forloop.first }}" aria-controls="collapse-{{category|slugify}}">
                            {{category}}
                            </button>
                        </h2>
                        <div id="collapse-{{group.type}}-{{category|slugify}}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" data-bs-parent="#availableAccordian-{{group.type}}">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                {% if available.0.explain_category_group %}
                                <li class="list-group-item">
                                    {{ available.0.explain_category_group }}
                                </li>
                                {% endif %}
                                {% for f in available %}
                                <li class="list-group-item">
                                    <a href="{% url 'character-feature-view' character.id f.full_id%}">
                                        {{ f }}
                                        {% if f.purchase_cost_string %}
                                        ({{ f.purchase_cost_string }})
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}
