{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rules %}

{% block head_title %}{% block body_title %}
{{ character }}
{% endblock %}{% endblock %}

{% block content %}

{% if currencies %}
<ul>
{% for c, v in currencies.items %}
<li>Available {{ c }}: {{ v }}</li>
{% endfor %}
</ul>
{% endif %}

<h2>{{ feature.formal_name }}
    {% if feature.can_increase and feature.purchase_cost_string %} ({{ feature.purchase_cost_string }}){% endif %}
    {% if feature.category %}
    <p class="fw-lighter fs-5">{{ feature.category }}</p>
    {% endif %}
</h2>

{% if feature.parent %}
<p>Part of <a href="{% url 'character-feature-view' character.id feature.parent.id %}">{{ feature.parent.display_name }}</a></p>
{% endif %}

{% if purchase_form %}
<form method="post" id="purchaseForm">
    {% csrf_token %}
        {{ purchase_form | crispy }}
        {% if purchase_form.show_remove_button %}
        <button type="submit" id="removeButton"
                name="remove" value="1"
                class="btn btn-danger">
            Remove
        </button>
        {% else %}
        <button type="submit" id="purchaseButton" name="purchase"
                class="btn btn-{{purchase_form.button_level}}">
            {{purchase_form.button_label}}
        </button>
        {% endif %}
    </div>
</form>
{% elif no_purchase_reason %}
<p>You can not currently purchase this because:</p>
<p>{{ no_purchase_reason }}</p>
{% endif %}

{# TODO: Render markdown #}
{% if feature.description %}
<p>{{ feature.description }}</p>
{% endif %}

{% for explanation in explain_ranks %}
<p>{{ explanation }}</p>
{% endfor %}

{% if feature.granted_features %}
<h3>Granted Features</h3>
<ul>
{% for subfeat in feature.granted_features %}
<li><a href="{% url 'character-feature-view' character.id subfeat.id %}">{{ subfeat.formal_name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if feature.discounted_features %}
<h3>Discounted Features</h3>
<ul>
{% for subfeat in feature.discounted_features %}
<li><a href="{% url 'character-feature-view' character.id subfeat.id %}">{{ subfeat.display_name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if choices %}
<a name="choices"></a>
{% for key, choice in choices.items %}
    {% if choice.controller.limit > 1 %}
    <h3>{{ choice.controller.name }} ({{choice.controller.limit}})</h3>
    {% else %}
    <h3>{{ choice.controller.name }}</h3>
    {% endif %}
    {% if choice.controller.description %}
    <p>{{ choice.controller.description }}</p>
    {% endif %}
    {% if choice.taken %}
    <h4>Selected Choices</h4>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="remove" value="1">
        <input type="hidden" name="choice" value="{{choice.id}}">
        <ul>
            {% for f in choice.taken %}
            <li><a href="{% url 'character-feature-view' character.id f.id %}">{{ f.formal_name }}</a>
                {% if f.id in choice.removable %}
                    <button type="submit" class="btn btn-danger btn-sm" name="selection" value="{{f.full_id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </form>
    {% endif %}
    {% if choice.available %}
    <form method="post">
        {% csrf_token %}
        {{ choice | crispy }}
        <button type="submit" name="choice" value="{{choice.id}}" class="btn btn-primary">Choose this option</button>
    </form>
    {% endif %}
{% endfor %}
{% endif %}

<a role="button" class="btn btn-secondary" href="{% url 'character-detail' character.id %}">Back</a>

{% endblock %}
