{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block entire_title %}
    {% block head_title %}Untitled{% endblock head_title %} - {{ site_title }}
    {% endblock entire_title %}</title>
  {% block extra_head %}
  {% endblock extra_head %}
  {% block css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock css %}
</head>

<body>
  {% block body %}

  <header>
    <h1>
      {% block body_title %}{{ request.game.name }} - {{ site_title }}{% endblock %}</h1>
    <div>
      <strong>Menu:</strong>
      <menu>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_profile' %}">Account</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </menu>
    </div>
  </header>

  {% if messages %}
  <div>
    <strong>Messages:</strong>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <main>
  {% block content %}
    <p>Default content...</p>
  {% endblock content %}
  </main>
  {% endblock body %}
  {% block extra_body %}
  {% endblock extra_body %}

  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>

  {% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}
</body>
</html>
