{% extends "base.html" %}
{% load rules %}
{% load markdown %}
{% block head_title %}{{campaign}}{% endblock %}

{% block content %}

{% has_perm 'game.change_campaign' user chapter as can_change_campaign %}

{% if can_change_campaign %}
<p><a href="{% url 'campaign-update' campaign.slug %}">Manage {{ campaign }}</a></p>
{% endif %}

{% if campaign.description %}
{{ campaign.description | markdown}}
{% endif %}

{% with record=campaign.record %}

<h1>Campaign Data</h1>
<ul>
  <li>Season: {{record.season}}</li>
  <li>Campaign Max XP: {{record.max_xp}} (level {{max_level}}, next in {{max_next_xp}} XP)</li>
  <li>Campaign Max Event CP: {{record.max_cp}}</li>
  <li>Campaign Max Bonus CP: {{record.max_bonus_cp}}</li>
  <li>Campaign Floor XP: {{record.floor_xp}} (level {{floor_level}} next in {{floor_next_xp}} XP)</li>
  <li>Campaign Floor Event CP: {{record.floor_cp}}</li>
  <li>Last Event: {{record.last_event_date}}</li>
  {% if user.is_authenticated %}
  <li>Your XP: {{precord.xp}} (level {{player_level}}, next in {{player_next_xp}} XP)</li>
  {% endif %}
</ul>

{% endwith %}

{% if user.is_authenticated %}
<a class="btn btn-primary" role="button" href="{% url 'myawards' campaign.slug %}">View My Awards</a>
{% endif %}


{% endblock content %}
