{% extends "base.html" %}
{% load rules %}
{% load markdown %}
{% block head_title %}Home{% endblock %}

{% block content %}

{% if game.description %}
{{ game.description | markdown}}
{% endif %}

{% if user.is_authenticated %}

{% if claimable_awards or unclaimable_award_count > 0 %}
<h2>Unclaimed Awards</h2>
<p>Claim event and other awards imported from previous seasons, or otherwise entered by email address.</p>
    {% regroup claimable_awards by campaign as campaign_list %}
    <ul>
    {% for campaign, awards in campaign_list %}
        {# TODO: Make the claims page and link it from here. #}
        <li>{{ campaign }} Awards: <a class="link-body-emphasis"
            href="{% url 'myawards' campaign.slug %}">
            <b>{{claimable_awards|length}}</b> unclaimed.</a></li>
    {% endfor %}
    </ul>

    {% if unclaimable_award_count > 0 %}
    <p>You have <b>{{unclaimable_award_count}}</b> award{{unclaimable_award_count|pluralize}} associated with your unverified email address{{unclaimable_award_emails|length|pluralize:"es"}} {{unclaimable_award_emails|join:", "}}.
        <a class="link-success" href="{% url 'account_email' %}">Verify</a> to claim these awards.</p>
    {% endif %}
{% endif %}

<h2>Characters</h2>
<ul>
{% for character in character_list %}
    <li><a href="{% url 'character-detail' character.id %}" hx-boost="false">
        {{ character }}
        {% if character.campaign is None %}[Freeplay]{% endif %}
    </a></li>
{% empty %}
    <li>You do not have any characters yet.</li>
{% endfor %}
</ul>

<a href="{% url 'character-add' %}">Create a new character</a>

{% else %}
<p>You must <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">sign up</a> to view or create characters.</p>
<p>Or, sign in directly with a social account:</p>
<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
{% endif %}

{% comment %}
{# We'll add chapters back in later, let's focus on characters. #}
<h2>Chapters</h2>
<ul>
{% for chapter in game.open_chapters %}
    <li><a href="{% url 'chapter-detail' chapter.slug %}">{{chapter}}</li>
{% empty %}
    <li>This game currently has no open chapters.</li>
{% endfor %}
</ul>
{% endcomment %}
{% endblock content %}

{% block footer %}
{% if game.home_footer %}
{{ game.home_footer | markdown}}
{% endif %}
{% endblock footer %}
