{% extends "base.html" %}
{% load rules %}
{% load crispy_forms_tags %}
{% block head_title %}{% block body_title %}Manage {{game}}{% endblock %}{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-primary" value="Update">
</form>

<h1>Rulesets</h1>
<ul>
{% for ruleset in game.rulesets.all %}
    {% has_perm 'game.change_ruleset' user ruleset as can_change_ruleset %}
    {% has_perm 'game.delete_ruleset' user ruleset as can_delete_ruleset %}
    <li>
        {% if ruleset.enabled %}
            {{ruleset.name}} [{{ruleset.ruleset_id}} {{ruleset.version}}]: {{ruleset.ruleset.features | length}} features loaded.
        {% else %}
            {{ruleset.name}} [{{ruleset.ruleset_id}} {{ruleset.version}}]: Disabled.
        {% endif %}
            {% if can_change_ruleset %}
                <a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                   href="{% url 'ruleset-update' ruleset.id %}">
                    <i class="bi bi-pen"></i>
                </a>
                {% if ruleset.remote_url %}
                <a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                   href="#" hx-post="{% url 'fetch-ruleset' ruleset.id %}"
                   hx-target="#operation-target"
                   hx-indicator="#operation-spinner"
                   >
                    <i class="bi bi-arrow-clockwise"></i>
                </a>
                {% endif %}
            {% endif %}
            {% if can_delete_ruleset %}
                <a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                    href="{% url 'ruleset-delete' ruleset.id %}">
                    <i class="bi bi-trash-fill"></i>
                </a>
            {% endif %}
    </li>

{% endfor %}
{% has_perm 'game.change_game' user game as can_add_ruleset %}
{% if can_add_ruleset %}
    <p><a href="{% url 'ruleset-add' %}">Add Ruleset</a></p>
{% endif %}
</ul>

<div id="operation-spinner" class="spinner-border htmx-indicator" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div id="operation-target"></div>

<h1>Campaigns</h1>
<ul>
{% for campaign in game.campaigns.all %}
    {% has_perm 'game.change_campaign' user campaign as can_change_campaign %}
    <li>
        <a href="{% url 'campaign-detail' campaign.slug %}">
            {{campaign}}
        </a>
        {% if can_change_campaign %}
        <a href="{% url 'campaign-update' campaign.slug %}">📝</a>
        {% endif %}
    </li>
{% endfor %}
{% has_perm 'game.change_game' user game as can_add_campaign %}
{% if can_add_campaign %}
<p><a href="{% url 'campaign-add' %}">Add Campaign</a></p>
{% endif %}
</ul>

<h1>Roles</h1>
<ul>
{% for role in game.roles.all %}
    {% has_perm 'game.change_gamerole' user role as can_change_role %}
    {% has_perm 'game.delete_gamerole' user role as can_delete_role %}
    <li>{{role.title}} - {{role.user.get_full_name}} ({{ role.user.username }})
        {% if can_change_role %}
            <a href="{% url 'change-gamerole' role.user.username %}">📝</a>
        {% endif %}
        {% if can_delete_role %}
            <a href="{% url 'delete-gamerole' role.user.username %}">❌</a>
        {% endif %}
    </li>
{% endfor %}
{% has_perm 'game.change_game' user game as can_add_role %}
{% if can_add_role %}
<p><a href="{% url 'gamerole-add' %}">Add Role</a></p>
</ul>
{% endif %}

<h1>Owners</h1>
<ul>
{% for owner in game.owners.all %}
    <li>{{owner.get_full_name}} ({{owner}})
        {% if owner == user %}
        [This is you!]
        {% endif %}
    </li>
{% empty %}
    <p>This game has no listed ownership, so the server owner probably runs it.</p>
{% endfor %}
{% if is_owner %}
    {# Owner management to be implemented later. #}
    <p><strong>To change game ownership, contact the site owner.</strong></p>
{% endif %}
</ul>
{% endblock content %}
